html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Norican', cursive;
}

/* Material-UI Overrides */

button {
  min-width: 100% !important;
}

button span {
  padding: 0 2% !important;
}

th, td {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
