html, body {
  height: 100%;
  width: 100%;
  background-color: #e9e9e9;
  font-family: sans-serif;
  color: #626262;
}

.title {
  text-align: center;
}

.ipa {
  color: #41c46a;
}

.sour {
  color: #d437ac;
}

.stout {
  color: #7a5427;
}

.cider {
  color: #ffc530;
}

.other {
  color: #626262;
}

.filterBtns {
  display: flex;
}

button {
  background-color: #ccc;
  border: none;
  color: white;
  padding: 0.7em 1em;
  text-align: center;
  cursor: pointer;
  flex: 1;
}

.active {
  background-color: #4181c4;
}

.order {
  background-color: #41c46a;
}

.reset {
  background-color: #626262;
}

table {
  width: 100%;
}

th {
  text-align: left;
}
