html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

/* Material-UI Overrides */

table button {
  min-width: 100% !important;
}

button span {
  padding: 0 2% !important;
}

/* ensure accurate retreival of innerHTML */
.filterBtn span {
  position: absolute !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

table {
  max-width: 1000px;
  margin: auto;
}

th, td {
  padding-left: 4px !important;
  padding-right: 4px !important;
  font-family: 'Roboto Condensed', sans-serif !important;
}

tr {
  height: 64px !important;
}

td {
  font-size: 1.1em !important;
}
