html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

/* Material-UI Overrides */

h1 {
  font-family: 'Norican', cursive;
  font-size: 1.9em !important;
}

table button {
  min-width: 100% !important;
}

button span {
  padding: 0 2% !important;
}

/* ensure accurate retreival of innerHTML */
.filterBtn span {
  position: absolute !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

th, td {
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-family: 'Roboto Condensed', sans-serif !important;
}

tr {
  height: 60px !important;
}

td {
  font-size: 1.1em !important;
}
